@charset "UTF-8";


/********************************** RESET **********************************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/****************************** Generic styles ******************************/

html {
  /* Syllabics fonts: */
  font-family: Noto Sans, Gadugi, Euphemia, Euphemia UCAS,
    -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    Apple Color Emoji, Segoe UI Emoji, sans-serif;
  font-size: larger;
  min-height: 100vh;
}

body {
  display: flex;

  min-height: 100vh;
  margin: 0;

  font-size: large;

  flex-direction: column;
}

main {
  padding: 1rem .5rem;
}

button {
  font-size: inherit;
}

p, h1, h2, form, main > button {
  margin: .75rem 1rem 0;
}

form > p {
  margin-left: 0;
  margin-right: 0;
}

main > a:last-child {
  display: block;

  text-align: right;
  margin-bottom: 3rem;
}

/*************************** The important parts ***************************/

/* the sentence and the typing thing need to match styles and spacing as much
 * as they can. */
.the-sentence, .type-syllabics {
  font-size: larger;
  font-weight: bold;
  line-height: 1.25;
  word-spacing: 1ch; /* to make <SP> and <NNBSP> stand out */
}

.the-sentence {
  margin: .5rem 1rem;
  padding-right: 1rem;
}

.the-sentence--correct {
  color: green;
}

.type-syllabics {
  padding: .5rem calc(1rem - 1px);
  width: calc(100% - 1rem);
  border-width: 1px;
  margin: 0;

  min-height: 10rem;
}


.type-syllabics--small {
  min-height: 1ex;
}

/* When we're ready to move on in practice */
.type-syllabics--ready {
  color: #333;
  background-color: #FFC;
}

@keyframes pulse-outline {
  100% {
    box-shadow: 0 0 0 .40rem #9CF;
  }
}

button.draw-attention {
  box-shadow: 0 0 0 .20rem #9CF;
  animation: pulse-outline .25s ease-in infinite alternate;
}

textarea.type-syllabics {
  font-family: inherit;
  margin-block-end: 1em;
}

.low-key.instructions {
  font-size: normal;
  font-style: italic;

  color: #555;
}
