@charset "UTF-8";

html {
  font-family: Noto Sans, Helvetica Neue, Arial, Gadugi, Euphemia, Euphemia UCAS, sans-serif;
  font-size: larger;
}

.the-sentence {
  font-weight: bold;
  font-size: larger;
}

.type-syllabics {
  font-family: inherit;
  font-weight: bold;
  font-size: larger;
  width: 100%;
  line-height: 1.5;
  min-height: 50vh;
}
